body{
	background-image:url("blue mountains.jpg") ;
	background-size:cover;
}
img{
	height:300px;
	align-items: right;
}

h4{
	font-weight: bold;
}
#container{
	box-shadow:0 0 3px rgba(0 , 0, 0, 0.1 );
	width:1400px;
	margin: 100px 50px;
	padding-left: 20px;
	padding-top: 20px;
	padding-right: 20px;
	padding-bottom: 70px;
	background-color:white;
	}
h1{
	font-family: 'Sriracha', cursive;
}
.jumbotron{
	background-color: white;
}